<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
    {{form.media}}
</head>
<body>
    <div class="w3-bar w3-black">
        <a class="w3-bar-item w3-button" href="{% url 'index' %}">Home</a>
        <a class="w3-bar-item w3-button" href="/blog/">List</a>
        <a class="w3-bar-item w3-button" href="/blog/create/">Create</a>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>